@import "twitter/bootstrap";

/* Navigation Style */

body  {
  padding-top: 70px;
  background-color: white;
}

.icons  {
  list-style: none;
  padding-left: 0px;
  display: inline
}

.icons > li  {
  float: left;
  padding-right: 5px;
}

.navbar  {
  font-size: .9em;
  background-color: #f9a33c;
  border-radius: 0px;
  box-shadow: 0px 1px 1px #7e7e81;


}

.navbar-brand  {
  font-size: 2em;
  color: #58585A;
}

.page-text  {
  background-color: white;
  /*border: 1px solid #bababc;
  border-radius: 5px;
  */
}

.navbar-toggle  {
  padding: 7px 7px 3px 7px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  border-radius: 3px;
  background-color: #faae54;
  margin-right: 12.5px;
  box-shadow: 0px 0px 4px #656567;
}

page-content {
  padding: 0px !important;
}

.logo  {
  margin: 0px 0px 8px 20px;
  height: 90%;
  float:left;
}

a.nav-link {
  color: white;
  &:hover  {
    color: white;
    background-color: #faae54 !important;
  }
  &:active {
    background-color: #faae54;
  }
  &:focus  {
    background-color: white !important;
  }
}

.navbar-nav > .active > a  {
  color: white;
  background-color: #faae54;
}

.glyphicon {
  color: #58585A;
}

.rotate1 {
  -webkit-transform: rotate(0deg) translate3d( 0, 0, 0);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.rotate2 {
  -webkit-transform: rotate(-90deg) translate3d( 0, 0, 0);
     -moz-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

@media (max-width: 768px) {
   /*links when collapsed */
  .navbar-nav > li > a {

  }

  a.nav-link  {
    &:hover{
      background-color: #faae54 !important;
    }
  }
}

.connect-center {
float:left;
width:100%;
display: block;
text-align: center;
margin-bottom: 0px;

  li  {
    display: inline;
  }
}


