
/* Navigation Style */

@font-face {
    font-family: 'bitstream_vera_sansroman';
    src: url('Vera-webfont.eot');
    src: url('Vera-webfont.eot?#iefix') format('embedded-opentype'),
         url('Vera-webfont.woff') format('woff'),
         url('Vera-webfont.ttf') format('truetype'),
         url('Vera-webfont.svg#bitstream_vera_sansroman') format('svg');
    font-weight: normal;
    font-style: normal;

}



body  {
  background-color: white;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding-top: 200px;
}

.fixed-nav  {

}

#signature  {
  background-color: #9fc3dc;
}

#my-pic  {
  height: 100%;
  border-radius: 5px;

}

#nav-buttons {
  height: 50%;
}

#headline  {
  height: 50%;
  display: table;
  margin: auto;
}

#tag  {
  font-size: 2.0em;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#blog  {
  width: 48%;
  line-height: 100px;
  float: left;
  text-align: center;
  background-color: #D32727;
  color: white;
  display: block;
}


#projects  {
  width: 48%;
  line-height: 100px;
  float: left;
  text-align: center;
  display: block;
  background-color: white;
  color: #D32727;
}

#projects, #blog  {
  text-decoration: none;
  margin: 0 0px 0 4px;
  font-family: bitstream_vera_sansroman;
  font-size: 1.5em;
}

.middle  {
  background-color: white;
}

.social  {
  list-style: none;
    li > a  {
      text-decoration: none;
    }
}

.soc-icon  {
  vertical-align: top;
}


